/gsl-info-cadastrais/src/Gsl.Info.Cadastrais.Api/obj
/gsl-info-cadastrais/src/Gsl.Info.Cadastrais.Api/bin
/gsl-info-cadastrais/src/Gsl.Info.Cadastrais.Application/obj
/gsl-info-cadastrais/src/Gsl.Info.Cadastrais.Application/bin
/gsl-info-cadastrais/src/Gsl.Info.Cadastrais.Domain/obj
/gsl-info-cadastrais/src/Gsl.Info.Cadastrais.Domain/bin
/gsl-info-cadastrais/src/Gsl.Info.Cadastrais.Infrastructure/obj
/gsl-info-cadastrais/src/Gsl.Info.Cadastrais.Infrastructure/bin
/gsl-info-cadastrais/src/Gsl.Info.Cadastrais.Tests/obj
/gsl-info-cadastrais/src/Gsl.Info.Cadastrais.Tests/bin
/gsl-info-cadastrais/src/.vs
/gsl-gestao-estrategica/src/.vs
/gsl-gestao-estrategica/src/Gsl.Gestao.Estrategica.Api/obj
/gsl-gestao-estrategica/src/Gsl.Gestao.Estrategica.Api/bin
/gsl-gestao-estrategica/src/Gsl.Gestao.Estrategica.Application/obj
/gsl-gestao-estrategica/src/Gsl.Gestao.Estrategica.Application/bin
/gsl-gestao-estrategica/src/Gsl.Gestao.Estrategica.Domain/obj
/gsl-gestao-estrategica/src/Gsl.Gestao.Estrategica.Domain/bin
/gsl-gestao-estrategica/src/Gsl.Gestao.Estrategica.Infrastructure/bin
/gsl-gestao-estrategica/src/Gsl.Gestao.Estrategica.Infrastructure/obj
